{% set test_attribute = hookable_metadata.configuration.test_attribute|default('latest-products') %}

<div role="region" aria-labelledby="{{ test_attribute ~ '-heading' }}" style="margin-bottom:5rem;">
    <div class="pc-title-header pc-title-header--initial">
        <h2 id="{{ test_attribute ~ '-heading' }}">{{ hookable_metadata.configuration.title|default('sylius.ui.latest_products')|trans }}</h2>
        <span>{{ latest_products|length }}</span>
    </div>
    <hr class="pc-separator" style="margin-bottom:1rem;" />

    <div {{ sylius_test_html_attribute(test_attribute) }}>
        <div class="pc-product-grid">
            {% for product in latest_products %}
                <div>
                    {{ component('sylius_shop:product:card', { product: product, template: '@SyliusShop/product/common/card.html.twig' }) }}
                </div>
            {% endfor %}
        </div>
    </div>
</div>
